.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-weight: 800 !important;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .MuiDataGrid-root.MuiDataGrid-autoHeight {
  width: 80%;
} */
.MuiDataGrid-root .MuiDataGrid-window {
  /* background-color:red; */
  margin-top: 25px !important;
}
.css-i4bv87-MuiSvgIcon-root {
  color: #e1e1e1;
  /* background-color: #fff; */
}
.MuiDataGrid-root .MuiDataGrid-iconSeparator {
  height: 85px;
}
.MuiDataGrid-root .MuiDataGrid-columnHeader {
  min-width: 80px !important;
}
.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  min-height: 80px !important;
  max-height: 80px !important;
  line-height: 80px !important;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
  justify-content: center;
}
.MuiDataGrid-root .MuiDataGrid-columnHeader--sortable {
  min-width: 260px !important;
  justify-content: center !important;
  align-items: center !important;
}
.MuiDataGrid-root
  .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeader--sorted)
  .MuiDataGrid-sortIcon {
  display: none;
}

.MuiDataGrid-root .MuiDataGrid-cell--textCenter.MuiDataGrid-cell--withRenderer,
.MuiDataGrid-root .MuiDataGrid-cell--textCenter.MuiDataGrid-cell--editing {
  min-width: 80px !important;
}
.MuiDataGrid-windowContainer {
  height: 479px !important;
}
.MuiDataGrid-root .MuiDataGrid-row {
  min-height: 20px !important;
  max-height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  min-width: 260px !important;
  text-align: center !important;
}
.MuiDataGrid-root .MuiDataGrid-cell {
  border-right: 1px solid #e0e0e0;
}
.inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  margin-left: 65px;
  margin-bottom: 25px;
}
.inner-container h4 {
  color: #383e4c;
  font-size: 14px;
  margin-right: 15px;
}
.form-control {
  height: 43px;
  width: 300px;
  border-radius: 10px 5px 5px 10px;
  background-color: #f4f4f4;
  border-bottom: 3px solid #1b507f;
  border: none;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
}
.form-control::placeholder {
  color: #8f95a3;
}
.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  color: #383e4c;
  background-color: #f2f2f2;
}
.MuiDataGrid-root .MuiDataGrid-row:nth-of-type(even) {
  background-color: #f1fafd;
}
.MuiDataGrid-root .MuiDataGrid-cell {
  color: #9499a7;
  border-bottom: none !important;
  font-size: 14px;
}
.MuiDataGrid-root *,
.MuiDataGrid-root *::before,
.MuiDataGrid-root *::after {
  box-sizing: content-box !important;
}
